body {
    margin: 0;
    background-color: lightsteelblue;
}

#header, #footer {
    height: 100px;
    width: 100%;
}

#header {
    border-bottom: 2px solid grey;
}

#footer {
    margin-top: 20px;
    border-top: 2px solid grey;
}

#content {
    margin: 0 3vw;
}

.btn-actions {
    margin-top: 20px;
    border-top: 2px solid grey;
    padding-top: 20px;
}

#list li {
    list-style-type: none;
    border-bottom: 2px solid grey;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

#list {
    border: 2px solid grey;
    border-bottom: none;
    padding-inline-start: 0;
}

button {
    background-color: transparent;
    border-image: none;
    border-radius: 5px;
    border-style: solid;
}

input {
    background: transparent;
    border-style: solid;
    border-radius: 2px;
}

h1 {
    margin: 0;
    padding: 35px 0px 0px 15px;
}